root = true

[*.{kt,kts,java,xml,gradle,properties,md,yml,yaml,json,txt,pro}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
